<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baosight.xinsight.ots.client.dao.TableMapper" >
  <resultMap id="BaseResultMap" type="com.baosight.xinsight.ots.client.pojo.Table" >
    <id column="table_id" property="tableId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="tenant_id" property="tenantId" jdbcType="INTEGER" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="table_desc" property="tableDesc" jdbcType="VARCHAR" />
    <result column="primary_key" property="primaryKey" jdbcType="OTHER" />
    <result column="table_columns" property="tableColumns" jdbcType="OTHER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="BIGINT" />
    <result column="modifier" property="modifier" jdbcType="BIGINT" />
    <result column="permission" property="permission" jdbcType="BIT" />
    <result column="enable" property="enable" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    table_id, user_id, tenant_id, table_name, table_desc, primary_key, table_columns, 
    create_time, modify_time, creator, modifier, permission, enable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ots_user_table
    where table_id = #{tableId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ots_user_table
    where table_id = #{tableId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.baosight.xinsight.ots.client.pojo.Table" >
    insert into ots_user_table (table_id, user_id, tenant_id, 
      table_name, table_desc, primary_key, 
      table_columns, create_time, modify_time, 
      creator, modifier, permission, 
      enable)
    values (#{tableId,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{tenantId,jdbcType=INTEGER}, 
      #{tableName,jdbcType=VARCHAR}, #{tableDesc,jdbcType=VARCHAR}, #{primaryKey,jdbcType=OTHER}, 
      #{tableColumns,jdbcType=OTHER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=BIGINT}, #{modifier,jdbcType=BIGINT}, #{permission,jdbcType=BIT}, 
      #{enable,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.baosight.xinsight.ots.client.pojo.Table" >
    insert into ots_user_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tableId != null" >
        table_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="tableDesc != null" >
        table_desc,
      </if>
      <if test="primaryKey != null" >
        primary_key,
      </if>
      <if test="tableColumns != null" >
        table_columns,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="permission != null" >
        permission,
      </if>
      <if test="enable != null" >
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tableId != null" >
        #{tableId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableDesc != null" >
        #{tableDesc,jdbcType=VARCHAR},
      </if>
      <if test="primaryKey != null" >
        #{primaryKey,jdbcType=OTHER},
      </if>
      <if test="tableColumns != null" >
        #{tableColumns,jdbcType=OTHER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=BIT},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baosight.xinsight.ots.client.pojo.Table" >
    update ots_user_table
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableDesc != null" >
        table_desc = #{tableDesc,jdbcType=VARCHAR},
      </if>
      <if test="primaryKey != null" >
        primary_key = #{primaryKey,jdbcType=OTHER},
      </if>
      <if test="tableColumns != null" >
        table_columns = #{tableColumns,jdbcType=OTHER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      <if test="permission != null" >
        permission = #{permission,jdbcType=BIT},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=BIT},
      </if>
    </set>
    where table_id = #{tableId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baosight.xinsight.ots.client.pojo.Table" >
    update ots_user_table
    set user_id = #{userId,jdbcType=INTEGER},
      tenant_id = #{tenantId,jdbcType=INTEGER},
      table_name = #{tableName,jdbcType=VARCHAR},
      table_desc = #{tableDesc,jdbcType=VARCHAR},
      primary_key = #{primaryKey,jdbcType=OTHER},
      table_columns = #{tableColumns,jdbcType=OTHER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=BIGINT},
      modifier = #{modifier,jdbcType=BIGINT},
      permission = #{permission,jdbcType=BIT},
      enable = #{enable,jdbcType=BIT}
    where table_id = #{tableId,jdbcType=BIGINT}
  </update>
</mapper>